#tablet 
    display: flex
    position: fixed
    justify-content: center
    top: -1000px
    left: 0px
    height: 100%
    width: 100%
    background-image: url(/textures/tablet.png)
    background-size: 100% 100%
    #screen
        display: flex
        position: absolute
        align-self: center
        height: 95%
        width: 95%
        background-color: #a40c0c47
        #instruction
            margin: 25px
            font-size: 20px
            text-transform: uppercase
        #minimap
            position: absolute
            height: 350px
            width: 350px
            bottom: 40px
            right: 100px
            background-image: url(/textures/mini_map_cam1.png)
            background-size: 100%
            #cam1_tile
                position: absolute
                bottom: 32.5%
                right: 66.5%
                height: 135px
                width: 45px
                background-color: #9b19199c
                z-index: 10
            #cam2_tile
                position: absolute
                bottom: 73.35%
                right: 55%
                height: 50px
                width: 115px
                background-color: #9b19199c
                z-index: 10
            #cam3_tile
                position: absolute
                bottom: 27.75%
                right: 3.75%
                height: 97.5px
                width: 100px
                background-color: #9b19199c
                z-index: 10
            #cam4_tile
                position: absolute
                bottom: 57.85%
                right: 3.65%
                height: 100px
                width: 100px
                background-color: #9b19199c
                cursor: pointer

        #counter1
            align-self: flex-end
            font-size: 30px
            margin: 80px
        #counter2
            align-self: flex-end
            font-size: 30px
            margin: 80px
        #counter3
            align-self: flex-start
            font-size: 30px
            margin: 80px
        #counter4
            align-self: flex-start
            font-size: 30px
            margin: 80px

    #cam_screen1
        position: fixed
        align-self: center
        left: 0px
        height: 100%
        width: 100%
        background-image: url(/textures/cam_room_without_animatronic/room_cam1.png)
        background-size: cover
        z-index: 1
    #cam_screen2
        position: fixed
        align-self: center
        height: 90%
        width: 90%
        background-color: white
        opacity: 0
    #cam_screen3
        position: fixed
        align-self: center
        height: 90%
        width: 90%
        background-color: white
        opacity: 0
    #cam_screen4
        position: fixed
        align-self: center
        height: 90%
        width: 90%
        background-color: white
        opacity: 0
