#tablet 
    display: flex
    justify-content: center
    position: fixed
    height: 70%
    width: 80%
    background-image: url(/textures/tablet.png)
    background-size: 100% 100%
    z-index: 2
    #screen
        display: flex
        position: fixed
        align-self: center
        height: 60%
        width: 75%
        background-color: white
        #counter1
            align-self: flex-end
            font-size: 30px
            margin: 30px
        #counter2
            align-self: flex-end
            font-size: 30px
            margin: 30px
        #counter3
            align-self: flex-start
            font-size: 30px
            margin: 30px
        #counter4
            align-self: flex-start
            font-size: 30px
            margin: 30px
            